<% wrap_layout :layout do %>
  <nav>
    <a href="/write-the-docs-example">Home</a> |
    <a href="documentation/tutorials">Tutorials</a> |
    <a href="documentation/api-reference">API Reference</a> |
    <a href="documentation/sample-code">Sample Code</a>
  </nav>
  <main>
    <%= yield %>
  </main>
<% end %>