<% wrap_layout :layout do %>
  <nav>
    <%= link_to "Home", "/" %> |
    <%= link_to "Tutorials", "/documentation/tutorials" %> |
    <%= link_to "Sample Sode", "/documentation/samples" %>
  </nav>
  <main>
    <%= yield %>
  </main>
<% end %>